body{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 99;
}   

.golf {
    margin-top: -46vh;
    z-index: 1;
}

.golf-1 {
    margin-bottom: -45vh;
    z-index: 1;
}

.main-login-wrapper{
    padding: 0.5% 5% 0.5% 2.5%;

    width: 40%;

    border-radius: 10px;

    background-color: var(--federal-blue);
    transition: all 0.3s ease-in-out;

    border-radius: 50px;
    box-shadow: 0 4px 60px var(--federal-blue);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
}

.input-sign-up, .login-input{
    margin: 1% 1% 1% 10%;
    padding: 2%;

    width: 80%;

    border-radius: 10px;
    border: 1px solid #ccc;
}

.submit-button{
    margin-top: 2%;
    padding: 1%;

    width: 30%;

    border: none;
    border-radius: 10px;

    background-color: var(--dark-blue);
    transition: all 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: var(--neavy-blue);
}

.login-wrapper, .signup-wrapper{
    overflow: hidden;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: var(--oxford-blue);
}

.login-toggle{
    text-decoration: underline 1px var(--text);
    cursor: pointer;

    font-size: large;
}