:root{
    --text: rgb(230, 230, 230);

    --black: rgb(2, 1, 10);
    --oxford-blue: rgb(4, 5, 46);
    --federal-blue: rgb(20, 1, 82);
    --neavy-blue: rgb(34, 0, 124);
    --dark-blue: rgb(13, 0, 164);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

body{
    min-height: 98vh;
    background-color: var(--oxford-blue);
}